.gif-loading {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: black;
}

@keyframes color {
  0% {
    background-color: black;
  }

  50% {
    background-color: rgba(100, 100, 150, 0.5);
  }

  100% {
    background-color: black;
  }
}
